<!-- Card -->
<div *ngFor="let pokemon of pokemonList">
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <th scope="row">{{pokemon.url | splitId}}</th>
      <td>{{pokemon.name | titlecase}}</td>
      <td><img class="" height="40px"></td>

      <mdb-card-img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.url | splitId}}.png"
        alt="{{pokemon.name | titlecase}}"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>{{pokemon.name | titlecase}}</h4>
      </mdb-card-title>
      <mdb-card-text>
        Generation: {{pokemon.url | splitId | pokeGeneration}}
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
  <!-- Card -->
</div>
