<!-- Card -->
<div class="row justify-content-center">
  <div
    class="m-0 p-1 col-6 w-100 col-sm-4 col-md-3 col-lg-2 mx-lg-1 px-lg-0 mx-xl-0 px-xl-1 col-xl-2 poke-card cursor-pointer"
    *ngFor="let pokemon of pokemonList" [routerLink]="[pokemon.name]">
    <mdb-card title="{{pokemon.name | titlecase}}">
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img class="img-fluid"
                      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png"
                      alt="{{pokemon.name | titlecase}}"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <div class="text-center">
            <h5 class="text-nowrap overflow-hidden">{{pokemon.name | titlecase}}</h5>
            <h6># {{pokemon.id}}</h6>
          </div>
        </mdb-card-title>
        <mdb-card-text>
          <div class="text-center">
            {{pokemon.id | pokeGeneration | position}} Generation
          </div>
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
    <!-- Card -->
  </div>
</div>
