<app-pokemon-moves-card
  class="row justify-content-center mb-2"
  cardTitle="Level Up Moves"
  *ngIf="levelMoves.length>0"
  [moves]="levelMoves"
  [showLevels]="true"
  [moveTypes]="moveTypes"></app-pokemon-moves-card>
<app-pokemon-moves-card
  class="row justify-content-center my-2"
  cardTitle="Machine Moves"
  *ngIf="machineMoves.length>0"
  [moves]="machineMoves"
  [moveTypes]="moveTypes"></app-pokemon-moves-card>
<app-pokemon-moves-card
  class="row justify-content-center my-2"
  cardTitle="Tutor Moves"
  *ngIf="tutorMoves.length>0"
  [moves]="tutorMoves"
  [moveTypes]="moveTypes"></app-pokemon-moves-card>
<app-pokemon-moves-card
  class="row justify-content-center my-2"
  cardTitle="Egg Moves"
  *ngIf="eggMoves.length>0"
  [moves]="eggMoves"
  [moveTypes]="moveTypes"></app-pokemon-moves-card>
