<app-pokemon-moves-card class="max-detail-size w-100 my-1" cardTitle="Level Up Moves" [moves]="levelMoves"
                        [showLevels]="true"></app-pokemon-moves-card>
<app-pokemon-moves-card class="max-detail-size w-100 my-1" cardTitle="Machine Moves"
                        [moves]="machineMoves"></app-pokemon-moves-card>
<app-pokemon-moves-card class="max-detail-size w-100 my-1" cardTitle="Tutor Moves"
                        [moves]="tutorMoves"></app-pokemon-moves-card>
<app-pokemon-moves-card class="max-detail-size w-100 my-1" cardTitle="Egg Moves"
                        [moves]="eggMoves"></app-pokemon-moves-card>
