<app-pokemon-moves-card class="row justify-content-center mb-2" cardTitle="Level Up Moves" [moves]="levelMoves"
                        [showLevels]="true"></app-pokemon-moves-card>
<app-pokemon-moves-card class="row justify-content-center my-2" cardTitle="Machine Moves"
                        [moves]="machineMoves"></app-pokemon-moves-card>
<app-pokemon-moves-card class="row justify-content-center my-2" cardTitle="Tutor Moves"
                        [moves]="tutorMoves"></app-pokemon-moves-card>
<app-pokemon-moves-card class="row justify-content-center my-2" cardTitle="Egg Moves"
                        [moves]="eggMoves"></app-pokemon-moves-card>
