<mdb-card class="max-detail-size w-100 pb-2" *ngIf="pokemon$ | async as pokemon; else loading">
  <div class="container-fluid card-header-border-bottom">
    <div class="m-2 align-items-center" title="{{ 'UI.STATS.TITLE_TITLE' | transloco }}">
      <mdb-icon fas icon="info" size="1x"></mdb-icon>
      <span class="overflow-hidden text-nowrap pl-2">
        {{ 'UI.STATS.TITLE' | transloco }}
      </span>
    </div>
  </div>

  <mdb-card-body class="px-0 pt-0">
    <table class="table table-hover mb-0" aria-describedby="Table of Move Details" aria-hidden="true">
      <thead>
        <tr class="stats-table">
          <th scope="col" class="pl-3 pl-sm-5" title="{{ 'UI.STATS.STAT_TITLE' | transloco }}">
            {{ 'UI.STATS.STAT' | transloco }}
          </th>
          <th scope="col" title="{{ 'UI.STATS.BASE_TITLE' | transloco }}">
            {{ 'UI.STATS.BASE' | transloco }}
          </th>
          <th scope="col" title="{{ 'UI.STATS.EV_TITLE' | transloco }}">
            {{ 'UI.STATS.EV' | transloco }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stat of pokemon.stats">
          <th scope="row" class="pl-3 pl-sm-5">
            {{ 'STAT.' + stat.stat.name | transloco }}
          </th>
          <td>{{ stat.base_stat }}</td>
          <td>{{ stat.effort }}</td>
        </tr>
      </tbody>
    </table>
  </mdb-card-body>
</mdb-card>
<ng-template #loading>
  <div class="text-center">
    <div class="spinner-border m-4" style="width: 3rem; height: 3rem" role="status">
      <span class="sr-only">{{ 'LOADING' | transloco }}</span>
    </div>
  </div>
</ng-template>
