<mdb-card class="max-detail-size w-100 pb-2" *ngIf="pokemon$ | async as pokemon; else loading">
  <div class="container-fluid cursor-pointer border-bottom">
    <div class="row m-2 align-items-center" title="{{ 'UI.STATS.TITLE_TITLE' | translate }}">
      <a mdbBtn floating="true">
        <mdb-icon fas icon="info" size="1x"></mdb-icon>
      </a>
      <div class="overflow-hidden text-nowrap pl-2">
        {{ "UI.STATS.TITLE" | translate }}
      </div>
    </div>
  </div>

  <mdb-card-body class="py-0 px-2 px-sm-4">
    <table class="table mb-0">
      <thead>
        <tr class="stats-table">
          <th scope="col" title="{{ 'UI.STATS.STAT_TITLE' | translate }}">
            {{ "UI.STATS.STAT" | translate }}
          </th>
          <th scope="col" title="{{ 'UI.STATS.BASE_TITLE' | translate }}">
            {{ "UI.STATS.BASE" | translate }}
          </th>
          <th scope="col" title="{{ 'UI.STATS.EV_TITLE' | translate }}">
            {{ "UI.STATS.EV" | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stat of pokemon.stats">
          <th scope="col">
            {{ "STAT." + stat.stat.name | translate }}
          </th>
          <td>{{ stat.base_stat }}</td>
          <td>{{ stat.effort }}</td>
        </tr>
      </tbody>
    </table>
  </mdb-card-body>
</mdb-card>
<ng-template #loading>
  <div class="text-center">
    <div class="spinner-border m-4" style="width: 3rem; height: 3rem" role="status">
      <span class="sr-only">{{ "LOADING" | translate }}</span>
    </div>
  </div>
</ng-template>
