<ng-container *ngIf="generatedContent$ | async as link">
  <ng-container *ngFor="let node of link.evolves_to">
    <div class="container-fluid">
      <div class="row text-center border-bottom">
        <div class="col-4 cursor-pointer px-0">
          <a [routerLink]="['/pokemon', link.species.name]">
            <img
              class="mx-auto my-1 img-fluid"
              width="200"
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
                link.species.url | resourceId
              }}.png"
              alt="Evolves From"
            />
            {{ link.species.name | titlecase }}
          </a>
        </div>
        <div class="col-4 my-auto">
          <div class="row" *ngFor="let method of node.evolution_details">
            <div class="mx-auto" *ngIf="method.processed_details">
              <div>
                <mdb-icon fas icon="long-arrow-alt-right" size="3x"></mdb-icon>
              </div>
              <div>
                {{ 'EVOLUTION.TRIGGER.' + method.processed_details.trigger.title | translate }}
                <span *ngIf="method.processed_details.trigger.value"
                  >>
                  <span *ngIf="method.processed_details.trigger.translation; else triggerValue">{{
                    method.processed_details.trigger.translation | translate
                  }}</span>
                  <ng-template #triggerValue>{{ method.processed_details.trigger.value }}</ng-template></span
                >
              </div>
              <div class="overflow-auto" *ngFor="let condition of method.processed_details.conditions">
                <ng-container
                  *ngVar="condition.translation ? (condition.translation | translate) : condition.value as value"
                >
                  {{ 'UI.EVOLUTION_CHAIN.LINK.' + condition.title | translate: { value: value } }}</ng-container
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 cursor-pointer px-0">
          <a [routerLink]="['/pokemon', node.species.name]">
            <img
              class="mx-auto my-1 img-fluid"
              width="200"
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
                node.species.url | resourceId
              }}.png"
              alt="Evolves To"
            />
            {{ node.species.name | titlecase }}
          </a>
        </div>
      </div>
    </div>
    <app-pokemon-evolution-link [link$]="node.self$"></app-pokemon-evolution-link>
  </ng-container>
</ng-container>
