<pokedex-ng-filter-toolbar
  *ngIf="this.appNavbarService.getShowFilters$() | async"
  [showGenerationFilter]="true"
  [showTypeFilter]="true"
></pokedex-ng-filter-toolbar>
<div class="table-responsive">
  <table class="table table-hover table-sm">
    <caption class="d-none">
      All Moves
    </caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Gen</th>
        <th scope="col">Type</th>
        <th scope="col">Power</th>
        <th scope="col">PP</th>
        <th scope="col">Accuracy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let move of getMoves$() | async">
        <td class="p-0 align-middle">{{ "MOVE." + move.name + ".NAME" | translate }}</td>
        <td class="p-0 align-middle">{{ move.generation }}</td>
        <td class="p-0 align-middle d-flex justify-content-start">
          <span class="m-1 px-2 rounded-lg" [ngStyle]="{ 'background-color': move.type | pokeTypeColor }">{{
            "TYPE." + move.type | translate | uppercase
          }}</span>
        </td>
        <td class="p-0 align-middle">{{ move.power }}</td>
        <td class="p-0 align-middle">{{ move.pp }}</td>
        <td class="p-0 align-middle">{{ move.accuracy }}</td>
      </tr>
    </tbody>
  </table>
</div>
