<div class="container text-center">
  <div class="row my-1">
    <button class="btn btn-primary" (click)="genPokeList()">Generate Pokemon List
      <i class="fas fa-th ml-1"></i>
    </button>
  </div>
  <div class="row my-1">
    <button class="btn btn-primary" (click)="generateMoveList()">Generate Move List
      <i class="fas fa-th ml-1"></i>
    </button>
  </div>
  <div class="row my-1">
    <button class="btn btn-primary" (click)="generateLangList()">Generate Lang List
      <i class="fas fa-th ml-1"></i>
    </button>
  </div>
  <div class="row my-1">
    <button class="btn btn-primary" (click)="generateTypeList()">Generate Type List
      <i class="fas fa-th ml-1"></i>
    </button>
  </div>
  <div class="row my-1">
    <button class="btn btn-primary" (click)="generateVersionList()">Generate Version List
      <i class="fas fa-th ml-1"></i>
    </button>
  </div>
</div>


