<ng-container *ngIf="languageService.activeLanguage$ | async as activeLanguage">
  <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" title="{{activeLangName}}"
     *ngVar="'STATIC.LANGUAGES.'+activeLanguage.name | translate as activeLangName">
    <img alt="{{activeLangName}}"
         src="https://www.countryflags.io/{{activeLanguage.iso3166}}/shiny/32.png">
  </a>
  <ng-container *ngIf="languageService.getLanguageList() | async as languages">
    <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
      <ng-container *ngFor="let language of languages">
        <a mdbWavesEffect class="dropdown-item waves-light"
           *ngVar="'STATIC.LANGUAGES.'+language.name | translate as activeLangName"
           title="{{activeLangName}}"
           (click)="languageService.setDisplayLanguage(language.name)">
          <img alt="{{activeLangName}}" src="https://www.countryflags.io/{{language.iso3166}}/shiny/24.png">
          <span> {{activeLangName}}</span>
        </a>
      </ng-container>
    </div>
  </ng-container>
</ng-container>

