<mdb-card class="max-detail-size w-100">
  <div class="container-fluid cursor-pointer border-bottom">
    <div class="row m-2 align-items-center" title="Stats">
      <a mdbBtn floating="true">
        <mdb-icon fas icon="info" size="1x"></mdb-icon>
      </a>
      <div class="overflow-hidden text-nowrap pl-2">Stats</div>
    </div>
  </div>

  <mdb-card-body class="py-0">
    <mdb-card-text>
      <table class="table">
        <thead>
        <tr class="stats-table">
          <th scope="col">Stat</th>
          <th scope="col">Base</th>
          <th scope="col">EV</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>
