<mdb-card class="max-detail-size w-100">
  <div class="container-fluid cursor-pointer border-bottom">
    <div class="row m-2 align-items-center" title="Stats">
      <a mdbBtn floating="true">
        <mdb-icon fas icon="info" size="1x"></mdb-icon>
      </a>
      <div class="overflow-hidden text-nowrap pl-2">Type Damage Received</div>
    </div>
  </div>

  <mdb-card-body class="pb-1">
    <mdb-card-text>
      <div class="row  px-4">
        <div class="col-12 col-sm-6">
          <h6>Weaknesses</h6>
          <div class="row my-1 align-items-center text-center" *ngFor="let weakness of weaknesses">
            <div class="col-8" [ngStyle]="{'background-color':weakness.name | pokeTypeColor}"><h6
              class="text-white my-1">{{weakness.name | uppercase}}</h6></div>
            <div class="col-4 weakness-multiplier text-center"><b class="weakness-multi">x{{weakness.multiplier}}</b>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <h6>Resistances</h6>
          <div class="row my-1 align-items-center text-center" *ngFor="let resistance of resistances">
            <div class="col-8" [ngStyle]="{'background-color':resistance.name | pokeTypeColor}"><h6
              class="text-white my-1">{{resistance.name | uppercase}}</h6></div>
            <div class="col-4 weakness-multiplier text-center"><b class="resist-multi">x{{resistance.multiplier}}</b>
            </div>
          </div>
        </div>
      </div>
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>
