<div class="btn-group" mdbDropdown>
  <button
    mdbDropdownToggle
    mdbBtn
    color="primary"
    size="sm"
    class="dropdown-toggle waves-light p-2"
    type="button"
    mdbWavesEffect
  >
    Pockets
  </button>

  <div class="dropdown-menu dropdown-primary">
    <mdb-checkbox
      *ngFor="let itemPocket of selectableItemPockets"
      class="dropdown-item pr-0"
      [checked]="itemPocket.active"
      (change)="onFilterChange($event, itemPocket)"
      >{{ 'ITEM.POCKET.' + itemPocket.resource.name + '.NAME' | transloco }}</mdb-checkbox
    >
  </div>

  <button
    type="button"
    mdbBtn
    color="primary"
    class="waves-light p-2"
    mdbWavesEffect
    size="sm"
    (click)="filterService.setItemPocketFilter([])"
  >
    <i class="fas fa-times" aria-hidden="true"></i>
  </button>
</div>
