<div class="btn-group" mdbDropdown>
  <button
    mdbDropdownToggle
    mdbBtn
    color="primary"
    size="sm"
    class="dropdown-toggle waves-light p-2"
    type="button"
    mdbWavesEffect
  >
    Categories
  </button>

  <div class="dropdown-menu dropdown-primary">
    <mdb-checkbox
      *ngFor="let itemCategory of selectableItemCategories"
      class="dropdown-item pr-2"
      [checked]="itemCategory.active"
      (change)="onFilterChange($event, itemCategory)"
      >{{ 'ITEM.CATEGORY.' + itemCategory.resource.name + '.NAME' | translate }}</mdb-checkbox
    >
  </div>

  <button
    type="button"
    mdbBtn
    color="primary"
    class="waves-light p-2"
    mdbWavesEffect
    size="sm"
    (click)="filterService.setItemCategoryFilter([])"
  >
    <i class="fas fa-times" aria-hidden="true"></i>
  </button>
</div>
