<div class="btn-group" mdbDropdown>
  <button
    mdbDropdownToggle
    mdbBtn
    color="primary"
    size="sm"
    class="dropdown-toggle waves-light p-2"
    type="button"
    mdbWavesEffect
  >
    Generations
  </button>

  <div class="dropdown-menu dropdown-primary">
    <mdb-checkbox
      *ngFor="let generation of _selectableGenerations"
      class="dropdown-item pr-0"
      [checked]="generation.active"
      (change)="onFilterChange($event, generation)"
      >Generation {{ generation.generation.id }}</mdb-checkbox
    >
  </div>

  <button
    type="button"
    mdbBtn
    color="primary"
    class="waves-light p-2"
    mdbWavesEffect
    size="sm"
    (click)="filterService.setGenerationFilter([])"
  >
    <i class="fas fa-times"></i>
  </button>
</div>
