<mdb-card class="max-detail-size w-100 pb-2" *ngIf="species; else loading">
  <div class="container-fluid border-bottom">
    <div class="m-2 align-items-center" title="{{ 'UI.SPECIES.INFO.TITLE_TITLE' | transloco }}">
      <mdb-icon fas icon="info" size="1x"></mdb-icon>
      <span class="overflow-hidden text-nowrap pl-2">
        {{ 'UI.SPECIES.INFO.TITLE' | transloco }}
      </span>
    </div>
  </div>
  <mdb-card-body class="py-0 px-2 px-sm-4">
    <div>
      <div *ngIf="'' | withVersionGroup | async as group" class="overflow-auto text-center my-2">
        {{ 'SPECIES.' + species.name + '.FLAVOR_TEXT.' + group | transloco }}
      </div>
      <table class="table mb-0" aria-describedby="Table of Move Details" aria-hidden="true">
        <tbody>
          <tr>
            <td>{{ 'UI.SPECIES.INFO.GENUS' | transloco }}</td>
            <td>
              {{ 'SPECIES.' + species.name + '.GENERA' | transloco }}
            </td>
          </tr>
          <tr>
            <td>{{ 'UI.SPECIES.INFO.SHAPE' | transloco }}</td>
            <td>{{ 'SPECIES.SHAPE.' + species.shape.name + '.NAME' | transloco }}</td>
          </tr>
          <tr>
            <td>{{ 'UI.SPECIES.INFO.COLOR' | transloco }}</td>
            <td>
              {{ 'SPECIES.COLOR.' + species.color.name | transloco }}
              <span [ngStyle]="{ 'background-color': species.color.name, color: species.color.name }">__</span>
            </td>
          </tr>
          <tr title="{{ 'UI.SPECIES.INFO.GROWTH_RATE_TITLE' | transloco }}">
            <td>{{ 'UI.SPECIES.INFO.GROWTH_RATE' | transloco }}</td>
            <td>{{ 'SPECIES.GROWTH_RATE.' + species.growth_rate.name | transloco | titlecase }}</td>
          </tr>
          <tr *ngIf="species.egg_groups" title="{{ 'UI.SPECIES.INFO.EGG_GROUPS_TITLE' | transloco }}">
            <td>{{ 'UI.SPECIES.INFO.EGG_GROUPS' | transloco }}</td>
            <td>
              <span *ngFor="let eggGroup of species.egg_groups; let i = index"
                >{{ 'SPECIES.EGG_GROUP.' + eggGroup.name | transloco
                }}<span *ngIf="species.egg_groups.length - 1 !== i">, </span></span
              >
            </td>
          </tr>
          <tr title="{{ 'UI.SPECIES.INFO.HATCH_STEPS_TITLE' | transloco }}">
            <td>{{ 'UI.SPECIES.INFO.HATCH_STEPS' | transloco }}</td>
            <td>{{ (+species.hatch_counter + 1) * 255 }}</td>
          </tr>
          <tr title="{{ 'UI.SPECIES.INFO.GENERATION_TITLE' | transloco }}">
            <td>{{ 'UI.SPECIES.INFO.GENERATION' | transloco }}</td>
            <td>
              {{ 'STATIC.GENERATION.NUMBER.' + species.generation.name | transloco }}
            </td>
          </tr>
          <tr title="{{ 'UI.SPECIES.INFO.HABITAT_TITLE' | transloco }}" *ngIf="species.habitat">
            <td>{{ 'UI.SPECIES.INFO.HABITAT' | transloco }}</td>
            <td>
              {{ 'SPECIES.HABITAT.' + species.habitat.name | transloco | titlecase }}
            </td>
          </tr>
          <tr title="{{ 'UI.SPECIES.INFO.BASE_HAPPINESS_TITLE' | transloco }}">
            <td>{{ 'UI.SPECIES.INFO.BASE_HAPPINESS' | transloco }}</td>
            <td>
              {{ species.base_happiness / 255 | percent: '1.0-2' }}
            </td>
          </tr>
          <tr title="{{ 'UI.SPECIES.INFO.CAPTURE_RATE_TITLE' | transloco }}">
            <td>{{ 'UI.SPECIES.INFO.CAPTURE_RATE' | transloco }}</td>
            <td>{{ species.capture_rate / 255 | percent: '1.0-2' }}</td>
          </tr>
          <ng-container *ngIf="species.gender_rate >= 0">
            <tr title="{{ 'UI.SPECIES.INFO.FEMALE_RATE_TITLE' | transloco }}">
              <td>{{ 'UI.SPECIES.INFO.FEMALE_RATE' | transloco }}</td>
              <td>{{ species.gender_rate / 8 | percent: '1.0-2' }}</td>
            </tr>
            <tr title="{{ 'UI.SPECIES.INFO.MALE_RATE_TITLE' | transloco }}">
              <td>{{ 'UI.SPECIES.INFO.MALE_RATE' | transloco }}</td>
              <td>
                {{ (8 - species.gender_rate) / 8 | percent: '1.0-2' }}
              </td>
            </tr>
          </ng-container>
          <tr *ngIf="species.gender_rate === -1" title="{{ 'UI.SPECIES.INFO.GENDERLESS_TITLE' | transloco }}">
            <td>{{ 'UI.SPECIES.INFO.GENDERLESS_RATE' | transloco }}</td>
            <td>{{ 'UI.SPECIES.INFO.GENDERLESS' | transloco }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mdb-card-body>
</mdb-card>
<ng-template #loading>
  <div class="text-center">
    <div class="spinner-border m-4" style="width: 3rem; height: 3rem" role="status">
      <span class="sr-only">{{ 'LOADING' | transloco }}</span>
    </div>
  </div>
</ng-template>
