<div
  class="mt-2 px-0 px-md-4 d-flex flex-column align-items-center"
  *ngIf="getDisplayedPokemon$() | async; else loading"
>
  <pokedex-ng-pokemon-info
    [pokemon$]="getDisplayedPokemon$()"
    class="pokemon-section w-100 my-2"
  ></pokedex-ng-pokemon-info>
  <app-pokemon-species [pokemon$]="getDisplayedPokemon$()" class="pokemon-section w-100 my-2"></app-pokemon-species>
  <!--  <app-pokemon-stats [pokemon]="getDisplayedPokemon$()" class="pokemon-section w-100 my-2"></app-pokemon-stats>-->
  <!--  <app-pokemon-type-damages-->
  <!--    [pokemon]="getDisplayedPokemon$()"-->
  <!--    class="pokemon-section w-100 my-2"-->
  <!--  ></app-pokemon-type-damages>-->
  <app-pokemon-abilities [pokemon$]="getDisplayedPokemon$()" class="pokemon-section w-100 my-2"></app-pokemon-abilities>
  <app-pokemon-moves [pokemon$]="getDisplayedPokemon$()" class="pokemon-section w-100 my-2"></app-pokemon-moves>
</div>
<ng-template #loading>
  <div class="text-center">
    <div class="spinner-border m-4" style="width: 3rem; height: 3rem" role="status">
      <span class="sr-only">{{ "LOADING" | translate }}</span>
    </div>
  </div>
</ng-template>
