<div class="card p-1">
  <table class="table mb-0" *ngIf="item; else loading" aria-describedby="Table of Move Details" aria-hidden="true">
    <tbody>
      <tr class="first-row-border-0">
        <td>{{ 'UI.ITEM.NAME' | transloco }}</td>
        <td>{{ 'ITEM.' + item.name + '.NAME' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'UI.ITEM.COST' | transloco }}</td>
        <td>{{ item.cost }}</td>
      </tr>
      <tr>
        <td>{{ 'UI.ITEM.CATEGORY' | transloco }}</td>
        <td>{{ 'ITEM.CATEGORY.' + item.category.name + '.NAME' | transloco }}</td>
      </tr>
      <tr *ngFor="let attribute of item.attributes">
        <td>{{ 'ITEM.ATTRIBUTE.' + attribute.name + '.NAME' | transloco }}</td>
        <td>{{ 'ITEM.ATTRIBUTE.' + attribute.name + '.DESCRIPTION' | transloco }}</td>
      </tr>
      <tr title="{{ 'UI.ITEM.DESCRIPTION_TITLE' | transloco }}">
        <td>{{ 'UI.ITEM.DESCRIPTION' | transloco }}</td>
        <td>
          {{ 'ITEM.' + item.name + '.FLAVOR_TEXT.' | withVersionGroup | async }}
        </td>
      </tr>
      <tr title="{{ 'UI.ITEM.EFFECT_TITLE' | transloco }}">
        <td>{{ 'UI.ITEM.EFFECT' | transloco }}</td>
        <td>
          {{ 'ITEM.' + item.name + '.EFFECT_ENTRY.EFFECT' | transloco }}
        </td>
      </tr>
      <tr title="{{ 'UI.ITEM.EFFECT_TITLE' | transloco }}">
        <td>{{ 'UI.ITEM.EFFECT_SHORT' | transloco }}</td>
        <td>
          {{ 'ITEM.' + item.name + '.EFFECT_ENTRY.SHORT' | transloco }}
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #loading>
    <div class="text-center">
      <div class="spinner-border m-4" style="width: 3rem; height: 3rem" role="status">
        <span class="sr-only">{{ 'LOADING' | transloco }}</span>
      </div>
    </div>
  </ng-template>
</div>
