<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Image</th>
    <th scope="col">Gen</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pokemon of pokemonList" class="m-0 p-0 cursor-pointer" [routerLink]="[pokemon.name]">
    <th class="p-0 align-middle" scope="row">{{pokemon.url | splitId}}</th>
    <td class="p-0 align-middle"><img class="m-o p-0" height="40px"
                                      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.url | splitId}}.png">
    </td>
    <td class="p-0 align-middle">{{pokemon.name | titlecase}}</td>
    <td class="p-0 align-middle">{{pokemon.url | splitId | pokeGeneration}}</td>
  </tr>
  </tbody>
</table>
