<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Image</th>
    <th scope="col">Gen</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pokemon of pokemonList" class="m-0 p-0">
    <th scope="row">{{pokemon.url | splitId}}</th>
    <td><img class="m-o p-0" height="40px"
             src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.url | splitId}}.png">
    </td>
    <td>{{pokemon.name | titlecase}}</td>
    <td>{{pokemon.url | splitId | pokeGeneration}}</td>
  </tr>
  </tbody>
</table>
