<ng-container *ngIf="types.length">
  <div (click)="onClick($event)" class="types-pill">
    <pokedex-ng-type-pill
      *ngIf="!hideFirstType"
      [type]="types[0]"
      [size]="size"
      [clickable]="false"
      [inline]="inline"
      [vertical]="vertical"
    ></pokedex-ng-type-pill>
    <ng-container *ngIf="types.length > 1">
      <div
        class="type-merge"
        [ngStyle]="{
          'background-color': types[0] | pokeTypeColor : false : types[1],
          'border-radius': size / 3 + 'px'
        }"
      >
        <i class="fa-solid fa-shuffle type-merge-icon" [ngStyle]="{ 'font-size': size * 0.6 + 'px' }"></i>
      </div>
      <pokedex-ng-type-pill
        *ngIf="!hideSecondType"
        [type]="types[1]"
        [size]="size"
        [clickable]="false"
        [inline]="inline"
        [vertical]="vertical"
      ></pokedex-ng-type-pill>
    </ng-container>
  </div>
</ng-container>
