:host {
  cursor: pointer;
  display: inline;

  div.types-pill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    div.type-merge {
      display: inline-flex;
      align-items: center;
      height: 100%;
      margin: 0 3px;

      .type-merge-icon {
        padding: 4px 4px;
        transform: rotate(-90deg);
        color: white;
      }
    }
  }
}
