<ng-container *ngIf="types.length > 0">
  <div (click)="onClick()" class="d-flex justify-content-center">
    <pokedex-ng-type-pill
      [type]="types[0]"
      [size]="size"
      [clickable]="false"
      [inline]="inline"
      [vertical]="vertical"
    ></pokedex-ng-type-pill>
    <ng-container *ngIf="types.length > 1">
      <div
        class="d-flex flex-column justify-content-center align-items-center mx-1"
        [ngStyle]="{
          'background-color': types[0] | pokeTypeColor: false:types[1],
          'border-radius': size / 3 + 'px'
        }"
      >
        <i class="fab fa-mixer px-1 mix-icon" [ngStyle]="{ 'font-size': size * 0.8 + 'px', color: 'white' }"></i>
      </div>

      <pokedex-ng-type-pill
        [type]="types[1]"
        [size]="size"
        [clickable]="false"
        [inline]="inline"
        [vertical]="vertical"
      ></pokedex-ng-type-pill>
    </ng-container>
  </div>
</ng-container>
