<div class="btn-group px-1" mdbDropdown>
  <button
    mdbDropdownToggle
    mdbBtn
    color="primary"
    size="sm"
    class="dropdown-toggle waves-light p-2"
    type="button"
    mdbWavesEffect
  >
    Types
  </button>

  <div class="dropdown-menu dropdown-primary">
    <mdb-checkbox
      #checkbox
      class="dropdown-item pr-0"
      [checked]="this.filterService.getTypesFilterInclusiveness$() | async"
      (change)="this.filterService.setTypesFilterInclusiveness($event.checked)"
    >
      <div class="checkbox-label text-center">{{ checkbox.checked ? "Inclusive" : "Exclusive" }}</div>
    </mdb-checkbox>
    <div class="divider dropdown-divider"></div>
    <mdb-checkbox
      *ngFor="let type of _selectableTypes"
      class="dropdown-item pr-0"
      [checked]="type.active"
      (change)="onFilterChange($event, type)"
    >
      <div
        [ngStyle]="{ 'background-color': type.type.name | pokeTypeColor }"
        class="text-white px-1 rounded-lg text-center checkbox-label"
      >
        {{ "TYPE." + type.type.name | translate | uppercase }}
      </div>
    </mdb-checkbox>
  </div>

  <button
    type="button"
    mdbBtn
    color="primary"
    class="waves-light p-2"
    mdbWavesEffect
    size="sm"
    (click)="filterService.setTypesFilter([])"
  >
    <i class="fas fa-times" aria-hidden="true"></i>
  </button>
</div>
