/* You can add global styles to this file, and also import other style files */
.cursor-pointer {
  cursor: pointer;
}

.max-detail-size {
  max-width: 600px !important;
}

.expanded {
  transform: rotate(90deg);
}
