<mdb-card class="max-detail-size w-100 pb-2">
  <div class="container-fluid card-header-border-bottom">
    <div *ngIf="showHeading" class="m-2 align-items-center" title="{{ 'UI.TYPE_DAMAGES.TITLE_TITLE' | transloco }}">
      <mdb-icon fas icon="info" size="1x"></mdb-icon>
      <span class="overflow-hidden text-nowrap pl-2">
        {{ 'UI.TYPE_DAMAGES.TITLE' | transloco }}
      </span>
    </div>
  </div>
  <mdb-card-body class="p-2 py-0 px-sm-4">
    <pokedex-ng-type-damages
      [showDefending]="true"
      [types$]="getTypeDamages$()"
      [clickableEntries]="true"
    ></pokedex-ng-type-damages>
  </mdb-card-body>
</mdb-card>
