<mdb-card class="max-detail-size w-100 my-1 pb-2" *ngIf="pokemon$ | async as pokemon">
  <div class="container-fluid cursor-pointer border-bottom">
    <div class="row m-2 align-items-center" title="{{ 'UI.ABILITY.ABILITIES' | translate }}">
      <a mdbBtn floating="true">
        <mdb-icon fas icon="info" size="1x"></mdb-icon>
      </a>
      <div class="overflow-hidden text-nowrap pl-2">
        {{ "UI.ABILITY.ABILITIES" | translate }}
      </div>
    </div>
  </div>

  <mdb-card-body class="py-0 px-2 px-sm-4">
    <table class="table table-sm mb-0" aria-describedby="Table of Abilities" aria-hidden="true">
      <thead>
        <tr>
          <th scope="col">{{ "UI.ABILITY.SLOT" | translate }}</th>
          <th scope="col">{{ "UI.ABILITY.ABILITY" | translate }}</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let ability of pokemon.abilities">
          <ng-container *ngVar="expandedAbility === ability.ability.name as isExpanded">
            <tr>
              <td class="align-middle">{{ ability.slot }}</td>
              <td class="align-middle w-75">
                {{ "ABILITY." + ability.ability.name + ".NAME" | translate }}
              </td>
              <td class="text-right align-middle p-0">
                <a
                  class="btn btn-primary p-1 px-2"
                  role="button"
                  aria-expanded="false"
                  aria-controls=""
                  (click)="expandedAbility = isExpanded ? '' : ability.ability.name"
                >
                  <mdb-icon fas icon="chevron-right" size="1x" [ngClass]="{ expanded: isExpanded }"></mdb-icon>
                </a>
              </td>
            </tr>
            <tr *ngIf="isExpanded">
              <td colspan="3" [ngClass]="{ 'border-top-0': isExpanded }" class="px-0 pb-3">
                <app-pokemon-ability [abilityId]="ability.ability.name"></app-pokemon-ability>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </mdb-card-body>
</mdb-card>
