<mdb-navbar SideClass="navbar navbar-expand-sm navbar-dark indigo sticky-top">
  <mdb-navbar-brand>
    <a class="navbar-brand" [routerLink]="['/pokemon']">
      <img src="assets/images/pokeball.png" height="30" alt="">
      <span class="ml-2">Pokedex</span>
    </a>
  </mdb-navbar-brand>
  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown *ngIf="this.versions$ | async as versions">
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="save"></mdb-icon>
          <span class="caret">{{pokemonVersionService.activeVersion}}</span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a *ngFor="let version of versions" class="dropdown-item waves-light" mdbWavesEffect
             (click)="this.pokemonVersionService.setDisplayVersion(version.name)">{{version.name | titlecase}}</a>
        </div>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown *ngIf="this.languages$ | async as languages">
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="language"></mdb-icon>
          <span class="caret">{{pokemonLanguageService.displayLanguage}}</span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a *ngFor="let language of languages" class="dropdown-item waves-light" mdbWavesEffect
             (click)="this.pokemonLanguageService.setDisplayLanguage(language.name)">{{language.name | titlecase}}</a>
        </div>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>

