<div class="md-form d-flex justify-content-between align-items-center my-0 text-white">
  <div class="d-flex justify-content-between align-items-center" *ngIf="appNavbarService.getShowSearchBar$() | async">
    <input
      id="form1"
      #query
      class="mx-2 w-100 text-white text-input"
      type="text"
      placeholder="Search"
      aria-label="Search"
      (input)="filterService.setQueryFilter(query.value)"
      mdbInput
    />
    <!--    <mdb-icon class="mr-1" fas icon="search" aria-hidden="true"></mdb-icon>-->
  </div>
  <a (click)="appNavbarService.toggleFilters()" *ngIf="appNavbarService.getShowFiltersButton$() | async">
    <mdb-icon class="mx-1" fas icon="filter" aria-hidden="true" mdbTooltip="{{ 'Toggle Filters' }}"></mdb-icon>
  </a>
  <div class="mx-1 ml-2 grid-toggle-button" *ngIf="appNavbarService.getShowGridButton$() | async">
    <a
      *ngVar="this.appNavbarService.getGridMode$() | async as gridMode"
      (click)="this.appNavbarService.toggleGridMode()"
      mdbTooltip="{{ gridMode ? 'Grid View' : 'Table View' }}"
    >
      <mdb-icon *ngIf="gridMode; else bars" fas icon="th" aria-hidden="true"></mdb-icon>
      <ng-template #bars>
        <mdb-icon fas icon="bars" aria-hidden="true"></mdb-icon>
      </ng-template>
    </a>
  </div>
</div>
