<div class="container">
  <!--  <div class="row mb-1">-->
  <!--    <button class="btn btn-primary d-none" (click)="gridMode=!gridMode">{{gridMode ? 'Table View' : 'Grid View'}}-->
  <!--      <i class="fas fa-th ml-1"></i>-->
  <!--    </button>-->
  <!--  </div>-->
  <div class="row">
    <div class="col">
      <div
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="150"
        (scrolled)="fetchMore()"
      >
        <app-pokemon-grid
          *ngIf="gridMode; else tableMode"
          [pokemonList]="pokemonList"
        ></app-pokemon-grid>
        <ng-template #tableMode>
          <app-pokemon-table [pokemonList]="pokemonList"></app-pokemon-table>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col text-center">
      <button
        mdbBtn
        type="button"
        color="blue"
        mdbWavesEffect
        (click)="fetchMore()"
        class='load-more-button'
      >
        <ng-container *ngIf="loading">
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          >
            Loading...</span
          >
        </ng-container>
        <ng-container *ngIf="!loading">
          <span>{{ offset < 808 ? 'Load More' : 'All Pokemon Loaded' }}</span>
        </ng-container>
      </button>
    </div>
  </div>
</div>
