<div class="container-fluid">
  <div class="row px-md-2 px-lg-4">
    <pokedex-ng-filter-toolbar
      *ngIf="appNavbarService.getShowFilters$() | async"
      [showGenerationFilter]="true"
      [showTypesFilter]="true"
    ></pokedex-ng-filter-toolbar>
  </div>
  <div class="row px-md-2 px-lg-4">
    <div
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="150"
      (scrolled)="renderMore()"
      class="w-100"
    >
      <app-pokemon-grid
        *ngIf="this.appNavbarService.getGridMode$() | async; else tableMode"
        [pokemonList]="pokemonList"
      ></app-pokemon-grid>
      <ng-template #tableMode>
        <app-pokemon-table [pokemonList]="pokemonList"></app-pokemon-table>
      </ng-template>
    </div>
  </div>
  <div class="row my-2 px-md-2 px-lg-4">
    <div class="col text-center">
      <button mdbBtn type="button" color="blue" mdbWavesEffect (click)="renderMore()">
        <span>Load More</span>
      </button>
    </div>
  </div>
</div>
