<mdb-card class="max-detail-size w-100" *ngIf="pokemonSpecies">
  <div class="container-fluid cursor-pointer border-bottom">
    <div class="row m-2 align-items-center" title="Stats">
      <a mdbBtn floating="true">
        <mdb-icon fas icon="info" size="1x"></mdb-icon>
      </a>
      <div class="overflow-hidden text-nowrap pl-2">Species</div>
    </div>
  </div>
  <mdb-card-body class="py-0">
    <mdb-card-text>
      <div *ngIf="pokemonSpecies && pokemonSpecies.flavor_text_entries"
           class="overflow-auto text-center my-2">{{(pokemonSpecies.flavor_text_entries | pokeTranslate | first).flavor_text}}</div>
      <table class="table">
        <tbody>
        <tr>
          <td>Genus</td>
          <td>{{(pokemonSpecies.genera | pokeTranslate | first).genus}}</td>
        </tr>
        <tr>
          <td>Shape</td>
          <td>{{pokemonSpecies.shape.name | titlecase}}</td>
        </tr>
        <tr>
          <td>Color</td>
          <td>{{pokemonSpecies.color.name | titlecase}} <span
            [ngStyle]="{'background-color':pokemonSpecies.color.name}">__</span></td>
        </tr>
        <tr>
          <td>Growth Rate</td>
          <td>{{pokemonSpecies.growth_rate.name | titlecase}}</td>
        </tr>
        <tr *ngIf="pokemonSpecies.egg_groups"
            title="Egg Groups are categories which determine which Pokémon are able to interbreed. Pokémon may belong to either one or two Egg Groups.">
          <td>Egg Groups</td>
          <td>
                <span
                  *ngFor="let eggGroup of pokemonSpecies.egg_groups; let i = index">{{eggGroup.name | titlecase}}<span
                  *ngIf="pokemonSpecies.egg_groups.length-1 !== i">, </span></span>
          </td>
        </tr>
        <tr>
          <td>Hatch Steps</td>
          <td>{{(+pokemonSpecies.hatch_counter + 1) * 255}}</td>
        </tr>
        <tr title="The happiness when caught by a normal Pokéball. The higher the number, the happier the Pokémon.">
          <td>Base Happiness</td>
          <td>{{(pokemonSpecies.base_happiness / 255)|percent:'1.0-2' }}</td>
        </tr>
        <tr title="The base capture rate; up to 255. The higher the number, the easier the catch.">
          <td>Capture Rate</td>
          <td>{{(pokemonSpecies.capture_rate / 255)|percent:'1.0-2' }}</td>
        </tr>
        <ng-container *ngIf="pokemonSpecies.gender_rate>=0">
          <tr title="The chance of this Pokémon being female">
            <td>Female Rate</td>
            <td>{{(pokemonSpecies.gender_rate / 8)|percent:'1.0-2' }}</td>
          </tr>
          <tr title="The chance of this Pokémon being male">
            <td>Male Rate</td>
            <td>{{((8 - pokemonSpecies.gender_rate) / 8)|percent:'1.0-2' }}</td>
          </tr>
        </ng-container>
        <tr *ngIf="pokemonSpecies.gender_rate===-1"
            title="Genderless Pokemon">
          <td>Gender Rate</td>
          <td>Genderless</td>
        </tr>
        </tbody>
      </table>
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>
