<div *ngIf="ability as ability" class="card p-1">
  <table class="table mb-0">
    <tbody>
    <tr class="first-row-border-0">
      <td>{{'NAME' | translate}}</td>
      <td>{{'ABILITY.' + ability.name + '.NAME' | translate}}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{'ABILITY.' + ability.name + '.FLAVOR_TEXT.' + this.activeVersion | translate}}</td>
    </tr>
    <tr title="The generation this ability originated in.">
      <td>Generation</td>
      <td>{{ability.generation.name | titlecase}}</td>
    </tr>
    <ng-container>
      <tr title="Effect.">
        <td>Effect</td>
        <td>{{'ABILITY.' + ability.name + '.EFFECT_ENTRY.EFFECT' | translate}}</td>
      </tr>
      <tr title="">
        <td>Short</td>
        <td>{{'ABILITY.' + ability.name + '.EFFECT_ENTRY.SHORT' | translate}}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
