<div *ngIf="ability$ | async as ability" class="card p-1">
  <table class="table mb-0">
    <tbody>
    <tr class="first-row-border-0">
      <td>Name</td>
      <td>{{(ability.names | pokeTranslate | first).name}}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{(ability.flavor_text_entries | pokeVersion | pokeTranslate | first).flavor_text}}</td>
    </tr>
    <tr title="The generation this ability originated in.">
      <td>Generation</td>
      <td>{{ability.generation.name | titlecase}}</td>
    </tr>
    <ng-container *ngVar="ability.effect_entries | pokeTranslate | first as effect_entry">
      <tr title="Effect.">
        <td>Effect</td>
        <td>{{effect_entry.effect}}</td>
      </tr>
      <tr title="">
        <td>Short</td>
        <td>{{effect_entry.short_effect}}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
