<div class="container">
  <div class="row">
    <button class="btn btn-primary" (click)="genPokeList()">Generate Pokemon List
      <i class="fas fa-th ml-1"></i>
    </button>
  </div>
  <div class="row">
    <button class="btn btn-primary" (click)="generateMoveList()">Generate Move List
      <i class="fas fa-th ml-1"></i>
    </button>
  </div>
  <div class="row">
    <button class="btn btn-primary" (click)="generateLangList()">Generate Lang List
      <i class="fas fa-th ml-1"></i>
    </button>
  </div>
</div>


