<div class="container-fluid  px-0 px-md-4" *ngIf="pokemon">
  <div class="row justify-content-center mb-2">
    <mdb-card class="pt-2 max-detail-size w-100">
      <div class="view rgba-white-slight waves-light pt-1" mdbWavesEffect>
        <h5 class="text-center text-white pt-1 ">
            <span class="px-2 py-1 mx-1"
                  *ngFor="let type of pokemon.types; let i = index"
                  [ngStyle]="{'background-color':type.type.name | pokeTypeColor}">{{type.type.name | uppercase}}</span>
        </h5>
        <img class="mx-auto my-1 img-fluid" width="200"
             src="{{pokemon.sprites.front_default}}"
             alt="Card image cap">
      </div>
      <!--Card content-->
      <mdb-card-body class="py-0">
        <!--Title-->
        <mdb-card-title>
          <div class="text-center">
            <h4>{{pokemon.name | titlecase}}</h4>
          </div>
        </mdb-card-title>
        <!--Text-->
        <mdb-card-text>
          <table class="table">
            <tbody>
            <tr>
              <td>Pokedex Id</td>
              <td># {{pokemon.id}}</td>
            </tr>
            <tr>
              <td>Base Experience</td>
              <td>{{pokemon.base_experience}} xp</td>
            </tr>
            <tr>
              <td>Weight</td>
              <td>{{pokemon.weight / 10}} kg.</td>
            </tr>
            <tr>
              <td>Height</td>
              <td>{{pokemon.height / 10}} m.</td>
            </tr>
            </tbody>
          </table>
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>
  <app-pokemon-species [pokemonSpeciesId]="pokemon.species.name"
                       class="row justify-content-center my-2"></app-pokemon-species>
  <app-pokemon-stats [pokemonStats]="pokemon.stats" class="row justify-content-center my-2"></app-pokemon-stats>
  <app-pokemon-type-damages [typeIds]="pokemon.types"
                            class="row justify-content-center my-2"></app-pokemon-type-damages>
  <app-pokemon-abilities [pokemonAbilities]="pokemon.abilities"
                         class="row justify-content-center my-2"></app-pokemon-abilities>
  <app-pokemon-moves [pokemonMoves]="pokemon.moves" class=""></app-pokemon-moves>
</div>
