.pokemon-profile {
  //min-width: 150px;
  //max-width: 350px;
}

.stats-table th {
  border-top: 0;
}

mdb-icon {
  animation: rotate 2s ease-in-out 2s !important;
}

.expanded {
  transform: rotate(90deg);
}
