:host {
  display: inline;

  div {
    padding: 2px 6px;
    font-weight: bold;

    &.inline-type {
      display: inline;
    }

    &.rotate-90 {
      padding: 6px 0;
      white-space: nowrap;
      position: relative;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      display: inline-block;
      overflow: visible;
    }
  }
}
