<ng-container *ngVar="moves$ | async as moves">
  <mdb-card class="max-detail-size w-100 pb-2 mb-2" *ngIf="moves.length">
    <div class="container-fluid cursor-pointer border-bottom">
      <div
        class="row m-2 align-items-center"
        title="{{ 'MOVE.LEARN_METHOD.' + cardTitle + '.DESCRIPTION' | transloco }}"
      >
        <a mdbBtn floating="true">
          <mdb-icon fas icon="info" size="1x"></mdb-icon>
        </a>
        <div class="overflow-hidden text-nowrap pl-2">
          {{ 'MOVE.LEARN_METHOD.' + cardTitle + '.NAME' | transloco }}
        </div>
      </div>
    </div>
    <mdb-card-body class="py-0 px-2 px-sm-4">
      <table class="table table-sm mb-0" aria-describedby="Table of Moves">
        <thead>
          <tr>
            <th scope="col">
              <span *ngIf="showLevels">{{ 'UI.MOVE.LEVEL' | transloco }}</span>
            </th>
            <th scope="col">{{ 'UI.MOVE.MOVE' | transloco }}</th>
            <th scope="col">{{ 'UI.MOVE.TYPE' | transloco }}</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let move of moves">
            <ng-container *ngVar="expandedMove === move.move.name as isExpanded">
              <tr>
                <td class="align-middle">
                  <span *ngIf="showLevels">{{ move.version_group_detail?.level_learned_at }}</span>
                </td>
                <td class="align-middle w-75">
                  {{ 'MOVE.' + move.move.name + '.NAME' | transloco }}
                </td>
                <td>
                  <div class="text-center text-white pt-1">
                    <span
                      class="p-1 rounded-lg text-nowrap"
                      [ngStyle]="{ 'background-color': move.type | pokeTypeColor }"
                      *ngVar="'TYPE.' + move.type + '.NAME' | transloco | uppercase as typeName"
                    >
                      {{ typeName }}
                    </span>
                  </div>
                </td>
                <td class="text-right align-middle p-0">
                  <a
                    class="btn btn-primary p-1 px-2"
                    role="button"
                    aria-expanded="false"
                    aria-controls=""
                    (click)="expandedMove = isExpanded ? '' : move.move.name"
                  >
                    <mdb-icon fas icon="chevron-right" size="1x" [ngClass]="{ expanded: isExpanded }"></mdb-icon>
                  </a>
                </td>
              </tr>
              <tr *ngIf="isExpanded">
                <td colspan="4" [ngClass]="{ 'border-top-0': isExpanded }" class="px-0 pb-3">
                  <pokedex-ng-move-detail [moveId]="move.move.name"></pokedex-ng-move-detail>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </mdb-card-body>
  </mdb-card>
</ng-container>
