<!-- Card -->
<div class="row justify-content-center">
  <a
    class="m-0 p-1 w-100 col-6 col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 poke-card cursor-pointer text-decoration-none text-dark"
    *ngFor="let pokemon of pokemonList"
  >
    <mdb-card class="h-100" *ngVar="pokemon.name | titlecase as pokemonName" title="{{ pokemonName }}">
      <mdb-card-header>
        <div class="row">
          <div class="col-6 text-left border-right" title="Pokedex ID">#{{ pokemon.id }}</div>
          <div class="col-6 text-right pokemon-roman-gen" title="Generation {{ pokemon.generation }}">
            {{ pokemon.generation }}
          </div>
        </div>
      </mdb-card-header>
      <div class="h-100" [routerLink]="[pokemon.name]">
        <div class="view rgba-white-slight waves-light d-flex justify-content-center" mdbWavesEffect>
          <!-- Card img -->
          <img
            class="poke-img img-fluid w-100"
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.id }}.png"
            alt="{{ pokemonName }}"
            imgFallback="assets/images/default-pokemon.png"
          />
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <!--Title-->
        <div class="text-center">
          <h5 class="text-nowrap overflow-hidden">
            {{ pokemonName }}
          </h5>
          <h6></h6>
        </div>
      </div>
      <mdb-card-footer class="p-1 mx-0 h-100">
        <div class="text-center text-white h-100 d-flex justify-content-around align-items-center flex-wrap">
          <pokedex-ng-types-pill [types]="pokemon.types"></pokedex-ng-types-pill>
        </div>
      </mdb-card-footer>
    </mdb-card>
    <!-- Card -->
  </a>
</div>
