<div class="machine-table-container w-100 d-flex flex-column align-items-center">
  <pokedex-ng-filter-toolbar
    class="machine-table"
    *ngIf="this.appNavbarService.getShowFilters$() | async"
    [showTypesFilter]="true"
  ></pokedex-ng-filter-toolbar>

  <div
    class="table-responsive machine-table"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="150"
    (scrolled)="renderMore()"
  >
    <table class="table table-hover table-sm" aria-describedby="Table of Machine Details" aria-hidden="true">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Cost</th>
          <th scope="col">Move</th>
          <th scope="col">Type</th>
          <th scope="col">Power</th>
          <th scope="col">PP</th>
          <th scope="col">Accuracy</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let machine of getMachines$() | async">
          <tr
            (click)="expandedMachine = expandedMachine === this.machine.id.toString() ? '' : this.machine.id.toString()"
          >
            <td class="p-0 align-middle">{{ machine.id }}</td>
            <td class="align-middle py-0">
              <img
                class="py-0"
                height="40px"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/{{ machine.item.sprite }}"
                alt="{{ machine.item.sprite }}"
              />
            </td>
            <td class="p-0 align-middle">{{ 'ITEM.' + machine.item.name + '.NAME' | translate }}</td>
            <td class="p-0 align-middle">{{ machine.item.cost }}</td>
            <td class="p-0 align-middle">{{ 'MOVE.' + machine.move.name + '.NAME' | translate }}</td>
            <td class="p-0 align-middle d-flex justify-content-start">
              <span class="m-1 px-2 rounded-lg" [ngStyle]="{ 'background-color': machine.move.type | pokeTypeColor }">{{
                'TYPE.' + machine.move.type + '.NAME' | translate | uppercase
              }}</span>
            </td>
            <td class="p-0 align-middle">{{ machine.move.power }}</td>
            <td class="p-0 align-middle">{{ machine.move.pp }}</td>
            <td class="p-0 align-middle">{{ machine.move.accuracy }}</td>
          </tr>
          <tr *ngIf="expandedMachine === machine.id.toString()">
            <td colspan="9">
              <pokedex-ng-machine-detail
                [moveId]="machine.move.name"
                [itemId]="machine.item.name"
              ></pokedex-ng-machine-detail>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
